// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2

body {
    margin: 0;
}

header {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 10;
}

header h1 {
    color: #0C5BA9;
    width: 10ch;
    font-size: 3.5vw;
    font-family: "open-sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 0;
}

header p {
    font-family: "marydale", sans-serif;
    font-weight: 900;
    font-style: normal;
    width: 22ch;
    font-size: 2vw;
    margin-top: 0;
}

header span {
    color: #21A35C;
}

.posterContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.poster {
    position: absolute;
    width: 100%;
}
.waveWhite {
    position: relative;
}

.waveBlue {
    top: 38%;
}

.waveLightblue {
    top: 132%;
}

.waveRed {
    top: 265.1%;
}

.earthBackground {
    top: 303.6%;
    z-index: 2;
}

.surfaceLeft {
    width: 27.2%;
    top: 323%;
    left: 5%;
    z-index: 3;
}

.surfaceTop {
    width: 24.6%;
    top: 302%;
    left: 39.2%;
    z-index: 3;
}

.surfaceRight {
    width: 20.6%;
    top: 317.3%;
    left: 79.4%;
    z-index: 3;
}

.surfaceBot {
    width: 12%;
    top: 400%;
    left: 45%;
    z-index: 3;
}

.carText {
    width: 35%;
    top: 174%;
    left: 4.4%;
  }

.car {
    width: 16.5%;
    top: 142.6%;
    left: 42%;
}

.carSmoke {
    content: '';
    position: absolute;
    border-radius: 40px;
    border: 0.8vw solid grey;
    z-index: 3;
    top: 168.4%;
    left: 39.8%;

    &::after {
    content: '';
    position: absolute;
    border-radius: 40px;
    border: 1.1vw solid grey;
    }
}

.moon {
    width: 24%;
    top: 60%;
    left: 67%;
}

.car, .moon {
    z-index: 4;
}

.starLarge {
    width: 5%;
    top: 57%;
    left: 88.6%;
}

.starSmall {
    width: 4%;
    top: 80%;
    left: 92.4%;
}

.shirtYellow {
    width: 20%;
    top: 258%;
    left: 14%;
}

.shirtBlue {
    width: 20%;
    top: 240%;
    height: 80%;
    left: 40%;
}

.shirtGreen {
    width: 22%;
    top: 229%;
    left: 61%;
}

.shirtYellow, .shirtBlue, .shirtGreen {
    z-index: 4;
}

.pollutionSmall {
    width: 4%;
    
    &__One {
        top: 252%;
        left: 14%;
    }

    &__Two {
        top: 245%;
        left: 27%;
    }

    &__Three {
        top: 268%;
        left: 35%;
    }

    &__Four {
        top: 237%;
        left: 37.5%;
    }

    &__Five {
        top: 226%;
        left: 46%;
    }

    &__Six {
        top: 226%;
        left: 73.4%;
    }

    &__Seven {
        top: 214%;
        left: 81%;
    }

    &__Eight {
        top: 250%;
        left: 83%;
    }
}

.pollutionMedium {
    width: 6%;

    &__One {
        top: 222%;
        left: 31%;
    }

    &__Two {
        top: 198%;
        left: 71.5%;
    }
}

.pollutionLarge {
    width: 10%;
    top: 214%;
    left: 57%;
}

.earthEyes {
    width: 50%;
    top: 405%;
    left: 23%;
    z-index: 4;
}

.footerQR {
    width: 10%;
    top: 410.8%;
    left: 2%;
    z-index: 4;
}

footer {
    position: absolute;
    top: 450%;
    width: 100%;
    z-index: 10;
}

footer p {
    display: inline-block;
}

.footer__Whitebar {
    background-color: white;
}

.footer__Whitebar p {
    margin: 0 5% 0 5%;
    font-size: 1.19vw;
    width: 120ch;
    font-family: "marydale", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.footer__Bluebar {
    background-color: #00509e;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 1vw;
    &-pOne {
        padding-left: 58%;
        display: inline;
    }

    &-pTwo {
        display: inline;
    }

    &-pThree {
        text-wrap: nowrap;
        padding-left: 20%
    }
}

.footer__Bluebar img {
    width: 33.33%;
    margin: 0 1% 0 5%;
}

.footer__Bluebar p {
    font-family: "marydale", sans-serif;
    color: white;
    margin-left: 5%;
    font-size: 1.2vw;
}

.footer__Bluebar div:last-child {
    font-weight: 800;
}

.footerLine {
    position: relative;
    stroke: white;
    stroke-width: 0.3vw;
    stroke-linecap: round;
}

.tiktokText {
    position: absolute;
    z-index: 10;
    top: 97%;
    left: 5%;
    font-family: "marydale", sans-serif;
    color: white;
    width: 26ch;
    font-weight: 600;
    font-size: 2vw;
}

.surfaceText {
    position: absolute;
    z-index: 10;
    font-family: "marydale", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.7vw;
    line-height: 2vw;
    width: 13ch;
    &-left {
        top: 352%;
        left: 12%;
    }

    &-top {
        top: 316%;
        left: 43.5%;
        text-align: center;
    }

    &-bot {
        top: 401%;
        left: 46.5%;
        width: 8ch;
    }

    &-right {
        top: 330%;
        left: 87.2%;
        width: 7ch;
    } &-right p {
        padding-bottom: 5vw;
    } &-right p:last-child {
        width: 10ch;
    }
    &-middle {
        top: 360%;
        left: 30%;
        width: 60ch;
        font-size: 3.5vw;
    }
}

