body {
    margin: 0;
}

.waveContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.waveBlue {
    position: absolute;
    z-index: 3;
    width: 100%; 
    top: 33.3%;
}

.waveWhite {
    position: relative;
    z-index: 4;
    width: 100%;
}

.waveLightblue {
    position: absolute;
    z-index: 2;
    top: 138.4%;
    width: 100%;
}

.waveRed {
    position: absolute;
    z-index: 1;
    top: 260.3%;
    width: 100%;
}

.planetBackground {
    position: absolute;
    z-index: 2;
    top: 300.5%;
    width: 100%;
}

.planetSurface {
    position: absolute;
    z-index: 3;
    top: 299.7%;
    width: 96%;
    left: 4%;
}

.car {
    position: absolute;
    z-index: 4;
    top: 142%;
    left: 33.7%;
    width: 18.5%;
}